<div class="container">
  <div class="clearfix"></div>
  <section class="postgrid">
    <!-- <a href=""> -->
      <div class="post" style="background: url(assets/img/post_1.jpg) 80%;">
        <p class="post_title">Post One</p>
        <section class="post_details">
            <p class="left">2017. 07. 30.</p>
            <p class="right">Manchester, United Kongdom</p>
        </section>
      </div>
    <!-- </a>
    <a href=""> -->
      <div class="post" style="background: url(assets/img/post_2.jpg) 50% 55%;">
        <p class="post_title">Post Two</p>
        <span class="post_details">
            <p class="left">2017. 07. 30.</p>
            <p class="right">Manchester, United Kongdom</p>
          </span>
      </div>
    <!-- </a>
    <a href=""> -->
      <div class="post" style="background: url(assets/img/post_1.jpg) 80%;">
        <p class="post_title">Post Three</p>
        <span class="post_details">
            <p class="left">2017. 07. 30.</p>
            <p class="right">Manchester, United Kongdom</p>
          </span>
      </div>
    <!-- </a>
    <a href=""> -->
      <div class="post" style="background: url(assets/img/post_2.jpg) 50% 55%;">
        <p class="post_title">Post Four</p>
        <span class="post_details">
            <p class="left">2017. 07. 30.</p>
            <p class="right">Manchester, United Kongdom</p>
        </span>
      </div>
    <!-- </a>
    <a href=""> -->
      <div class="post" style="background: url(assets/img/post_2.jpg) 50% 55%;">
      <p class="post_title">Post Five</p>
      <span class="post_details">
          <p class="left">2017. 07. 30.</p>
          <p class="right">Manchester, United Kongdom</p>
        </span>
    </div>
    <!-- </a> -->
  </section>
  <div class="clearfix"></div>
</div>